<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
            
          <ul class="contact-list">
            <li class="p-name"><b>Nome</b></li>
            <li>
                Leonardo Borim
            </li>
            <li>
                Gabriel Marques
            </li>
            <li>
                Mateus Yoon
            </li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
            <ul class="contact-list">
                <li class="p-name">,<b>RA</b></li>
                <li>
                    RA: 10390123
                </li>
                <li>
                    RA: 1037571
                </li>
                <li>
                    RA: XXXXXXXX
                </li>
            </ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p>{{- site.description | escape -}}</p>
        </div>
      </div>
  
    </div>
  
  </footer>
  